<ion-header>
	<app-header title="Login"></app-header>
</ion-header>

<ion-content class="auth-page">
	<div class="auth-shell ion-padding">
		<ion-card>
			<ion-card-header>
				<ion-card-title class="ion-text-center">Welcome Back</ion-card-title>
				<p class="auth-subtitle ion-text-center">Employee access for managing resources and rooms.</p>
			</ion-card-header>

			<ion-card-content>
				<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
					<ion-item>
						<ion-input
							label="Username"
							labelPlacement="floating"
							formControlName="username"
							type="text"
						></ion-input>
					</ion-item>

					<ion-item>
						<ion-input
							label="Password"
							labelPlacement="floating"
							formControlName="password"
							type="password"
						></ion-input>
					</ion-item>

					<ion-text color="danger" [hidden]="!errorMessage()">{{ errorMessage() }}</ion-text>

					<ion-button expand="block" type="submit" class="ion-margin-top" [disabled]="isSubmitting()"
						>Login</ion-button
					>

					<div class="auth-link ion-text-center ion-margin-top">
						<ion-button fill="clear" size="small" (click)="goToRegister()" [disabled]="isSubmitting()">
							Don't have an account? Register
						</ion-button>
					</div>
				</form>
			</ion-card-content>
		</ion-card>
	</div>
</ion-content>
